@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /*colores para el background*/
  --background: #00171f;
  --primary: #003459;
  --secondary: #007ea7;
  --bg-celeste: #007ea7;
  --bg-celesteclaro: #00a8e8;

  /*colores para los textos*/
  --text-color-blanco: #fafafa;
  --text-color-gris: #6666;
  -text-color-negro: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "poppins", sans-serif;
}
/* header */
header {
 /* background-color: var(--primary); */
  background:linear-gradient(var(--background), var(--primary));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;
  position: fixed;
  top: 0;
}
.logo {
  height: 70%;
  gap: 40px;
  cursor: pointer;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar {
  gap: 200px;
  color: var(--text-color-blanco);
}
.navbar-list {
  gap: 40px;
  
}
.navbar-list a {
  color: var(--text-color-blanco);
}

.icono {
  height: 60px;
  padding: 10px 2px;
  font-weight: 600;
  cursor: pointer;
}
body {
  background: var(--bg-celeste);
}

.main {
  background-color: black
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-gris);
  width: 100%;
}

#hero{
  background-color: var(--primary);
  margin-top: 65px;
  padding: 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  min-width: 40%;
  gap: 20px;
}
.hero-text{

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero-text h1{
  font-size: 50px;
  min-width: 400px;
  font-weight: 800;
  color: var(--text-color-blanco);
  width: 90%;
  background: linear-gradient(to top, #7400B8,#6930C3,#5E60CE,#5390D9, #4EA8DE, #48BFE3,#56CFE1, #64DFDF, #72EFDD, #80FFDB );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.hero-text p{
  font-size: 18px;
  width: 70%;
  color: var(--text-color-blanco);
}
.hero-text a{
  color: var(--text-color-blanco);
  background-color:var(--bg-celeste);
  width: 20%;
  padding: 10px 0px;
  border-radius: 12px;
  font-size: 16px;
  text-align: center;
}

.equipo-1{
  width: 300px;
  background-color: var(--background);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color-blanco);
}
.equipotop{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  }

.equipo-1 h2{
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(to top,red, white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.equipo-1 span{
  background-color: #00a8e8;
  width: 80px;
  border-radius: 1rem;
  padding: 5px 0px;
  text-align: center;
  font-size: 14px;
}

.equipo-region{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  gap: 400px;
  background-color: aliceblue;
}

.information-text{
  height: 140px;
  /* background-color:  var(--bg-celesteclaro); */
  margin-top: 50px;
  padding: 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  min-width: 40%;
  gap: 20px 12px;
  background-color: var(--bg-celesteclaro);

}
.information-text h2{
  font-size: 20px;
  /* padding: 10px; */
  text-decoration:underline ;
  text-align: center;

   flex-direction: column; 
  min-width: 400px;
  font-weight: 80%;
  color: var(--text-color-blanco);
 
  


}
.information-text p{
  font-size: 90%;
  width: 40%;
  background-color: var(--bg-celesteclaro);
  flex-direction: column;
  justify-content: center;
  padding: 10px 5px;
  min-width: 400px;
  color: var(--text-color-blanco);
}